@{
    ViewBag.Title = "NotImplement";
    Layout = "~/Views/Shared/_blank.cshtml";
}
<br />
<h1 style="font-style:italic">@ViewBag.FunctionName</h1> 
 
<h2 style="color:Blue ">@ViewBag.UserMessage</h2>
 