#overlay {
    background: #000;    
    filter: alpha(opacity=50); /* IE的透明度 */    
    opacity: 0.5;  /* 透明度 */    
    display: none;    
    position: absolute;   
    top: 0px;    
    left: 0px;    
    width: 100%;   
    height: 100%;    
    z-index: 100; /* 此处的图层要大于页面 */    
    display:none;
}
#fm{
	margin:0;
	padding:10px 30px;
}
.ftitle{
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.fitem{
	margin-bottom:5px;
}
.fitem label{
	display:inline-block;
	width:80px;
}